<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Admin/Home/Index">
        <img src="/assets/admin/images/logo.png" style="width:150px;height:100px"/>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link " href="/Admin/User/Index">
            <i class="fas fa-fw fa-user"></i>
            <span>Người Dùng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/Admin/Product/Index">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Sản Phẩm</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/Admin/Categories/Index">
            <i class="fas fa-fw fa-box"></i>
            <span>Thể loại</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/Admin/Content/Create">
            <i class="fas fa-fw fa-box"></i>
            <span>Tin Tức</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/Admin/Login/Index">
            <i class="fas fa-fw fa-box"></i>
            <span>Slides</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/Admin/Login/Index">
            <i class="fas fa-fw fa-box"></i>
            <span>Phản hồi</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/Admin/Login/Index">
            <i class="fas fa-fw fa-box"></i>
            <span>Thoát</span>
        </a>
    </li>




    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>